.tittle-events {
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
    color: #e3e3e3;
}
.event-item {
    color: #d5d3d3;
    margin: 10px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.events-block {
    height: 803px;
    overflow-y: scroll;
    
}